<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ocr.mobileVision.scanDocs">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_second"
        android:label="OCR Inwi"
        android:roundIcon="@mipmap/ic_launcher_second"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="MissingClass">
        <activity
            android:name="ocr.mobileVision.scanDocs.ScanBack"
            android:exported="false" />
        <activity
            android:name="ocr.mobileVision.scanDocs.ScanFrontSejour"
            android:exported="false" />
        <activity
            android:name="ocr.mobileVision.scanDocs.ScanBackSejour"
            android:exported="false" />
        <activity
            android:name="ocr.mobileVision.scanDocs.ScanFrontPassport"
            android:exported="false" />
        <activity
            android:name="ocr.mobileVision.scanDocs.ScanAdressPassport"
            android:exported="false" />
        <activity
            android:name="ocr.mobileVision.scanDocs.DataExtracted"
            android:exported="false" />
        <activity
            android:name="ocr.mobileVision.scanDocs.SimScan"
            android:exported="false" />
        <activity
            android:name="ocr.mobileVision.scanDocs.IDCard"
            android:exported="false" />
        <activity android:name="ocr.mobileVision.scanDocs.StartActivity"
            android:exported="false"/>

        <activity android:name="ocr.mobileVision.scanDocs.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />
        <meta-data android:name="regexIDCard" android:value="ROYAUM.*|CARTE.*|.*MAROC|.*NATIONA.*|[a-z].*|.*[ä].*|[à].*|.*[~!@#\$%^&amp;*()_+'{}\\[\\]:;?-].*" />
        <meta-data android:name="regexPassport" android:value="P.*"/>
    </application>


</manifest>